.vs/
FlightDelayWeb/.vs/
FlightDelayWeb/obj/*
FlightDelayWeb/bin/
FlightDelayWeb/wwwroot/lib/
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/appsettings.Development.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/appsettings.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.deps.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.exe
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.pdb
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.runtimeconfig.dev.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.runtimeconfig.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.Views.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/FlightDelayWeb.Views.pdb
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.csproj.CoreCompileInputs.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.csproj.CopyComplete
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.assets.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.AssemblyInfoInputs.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.AssemblyInfo.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.MvcApplicationPartsAssemblyInfo.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.genruntimeconfig.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.exe
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.csprojAssemblyReference.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.csproj.FileListAbsolute.txt
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.RazorTargetAssemblyInfo.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.RazorTargetAssemblyInfo.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.RazorCoreGenerate.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.RazorAssemblyInfo.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.RazorAssemblyInfo.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.Views.pdb
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.Views.dll
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.TagHelpers.output.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.TagHelpers.input.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/Home/Componentes.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/FlightDelayWeb.pdb
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/staticwebassets/FlightDelayWeb.StaticWebAssets.Manifest.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Debug/netcoreapp3.1/staticwebassets/FlightDelayWeb.StaticWebAssets.xml
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/FlightDelayWeb.csproj.nuget.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/FlightDelayWeb.csproj.nuget.dgspec.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/FlightDelayWeb.csproj.nuget.g.props
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/FlightDelayWeb.csproj.nuget.g.targets
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/project.assets.json
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/project.nuget.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Release/netcoreapp3.1/FlightDelayWeb.AssemblyInfo.cs
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Release/netcoreapp3.1/FlightDelayWeb.AssemblyInfoInputs.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Release/netcoreapp3.1/FlightDelayWeb.assets.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Release/netcoreapp3.1/FlightDelayWeb.RazorAssemblyInfo.cache
FlightDelayWebCore/FlightDelayWebCore/FlightDelayWeb/FlightDelayWeb/obj/Release/netcoreapp3.1/FlightDelayWeb.RazorAssemblyInfo.cs
data/2019 - Copy.csv
