@{
    ViewData["Title"] = "Laboratório de Eng Soft";
}
<h1>@ViewData["Title"]</h1>

<p>Daniel Pessoa - 17201211</p>
<p>Marcelo Valino - 17201390</p>
<p>Marco Santos - 17101170</p>
<p>Paulo Teruya - 17201416</p>
<p>Rafael Bosse - 16101523</p>

@{
    <div class="result">
        <img src="~/fd2.png" alt="Plane landing on the Hudson river" width="200px" />
    </div>
}