@{
    ViewData["Title"] = "Laboratório de Eng Soft";
}
<h1>@ViewData["Title"]</h1>

<p>Daniel Pessoa - 17201211</p>
<p>Daniel Pessoa - 17201211</p>
<p>Daniel Pessoa - 17201211</p>
<p>Daniel Pessoa - 17201211</p>
<p>Daniel Pessoa - 17201211</p>

@{
  <div class="result">
    <img src="https://images.app.goo.gl/wJsAePzCw6MpeVNu8" alt="Plane landing on the Hudson river" />
  </div>
}